---
import ImageComponent from '../components/ImageComponent.astro';
import { Image } from 'astro:assets';
import  logo  from '../images/logo.png';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DC Shoes | Index</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/src/descarga (1)-Photoroom.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fontawesome.com/icons/github?f=brands&s=solid">
		<script src="https://kit.fontawesome.com/cf1fb60fea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <p class="sd">~Order by 12/15 for Christmas delivery~</p>
    <header>
      <div id="elements">
        <Image src={ logo } alt="logo"/>
        <div>
          <a href="">Sale</a>
          <a href="">Shop</a>
          <a href="">New</a>
          <a href="">About</a>
          <a href="">Partnership</a>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <!--PRIMERA IMAGEN (Modelo 1)-->
        <div class="one"></div>
        <div class="one-img"></div>
        <div class="button-shopnew">
          <button class="shopnew"><strong>Shop New</strong></button>
        </div>
      <!----------------------------->

      <!--SEGUNDA IMAGEN (1 y 1.1)-->
        <div class="two">Two</div>
        <div class="two-img">
          <p class="target"> NEW STYLE </p>
        </div>
        <div class="button2"><strong>Men's Teknic Shoes</strong> <br> $80
        </div>
      <!----------------------------->

      <!--TERCERA IMAGEN (2 y 2.1)-->
      <div class="three">Three</div>
      <div class="three-img">
        <p class="target">NEW COLOR</p>
      </div>
      <div class="button3"><strong>Men's Pure Shoes</strong> <br> $75
      </div>
      <!----------------------------->

      <!--CUARTA IMAGEN (3 y 3.1)-->
        <div class="four">Four</div>
        <div class="four-img">
          <p class="target">SALE</p>
        </div>
      <div class="button4"><strong>Men's Ascend Skate Shoes</strong> <br>$100
      </div>
      <!----------------------------->


      <!--QUINTA IMAGEN (4 y 4.1)-->
        <div class="five">Five</div>
        <div class="five-img"></div>
      <div class="button5"><strong>Men's DC Metric Skate Shoes</strong> <br> $95
      </div>
      <!----------------------------->


      <!--SEXTA IMAGEN (5 y 5.1)-->
        <div class="six">six</div>
        <div class="six-img"><p class="target">SALE</p></div>
      <div class="button6"><strong>Men's Metric S X Ish Cepeda Shoes</strong> <br>$75
      </div>
      <!----------------------------->


      <!--SEPTIMA IMAGEN (6 y 6.1)-->
        <div class="seven">seven</div>
        <div class="seven-img"><p class="target">SALE</p></div>
      <div class="button7"><strong>Men's Transit Shoes</strong> <br>$85
      </div>
      <!----------------------------->


      <!--OCTAVA IMAGEN (7 y 7.1)-->
        <div class="eight">eight</div>
        <div class="eight-img"><p class="target">SALE</p></div>
      <div class="button8"><strong>Men's Manteca 4 Shoes </strong><br> $75
      </div>
      <!----------------------------->


      <!--NOVENA IMAGEN (8 y 8.1)-->  
        <div class="nine">nine</div>
        <div class="nine-img"><p class="target">SOLD OUT</p></div>
      <div class="button9"><strong>Men's Limited Edition Manual Shoes</strong> <br> $70
      </div>
      <!----------------------------->


      <!--DECIMA IMAGEN (Modelo 2)-->  
        <div class="ten">ten</div>
        <div class="ten-img">img10</div>
      <div class="button10">
        <button class="shopnew"><strong>Shop Bestsellers</strong></button>
      </div>
      <!----------------------------->
    </div>
      <h2 class="leyend">Yours For The Taking</h2>
      <div class="wrapper">
        <!--PRIMERA IMAGEN (Modelo 1)-->
          <div class="one2" id="one2"></div>
          <div class="one-img2" id="one-img2"></div>
          <div class="button-shopnew1" id="button-shopnew1">
            <button class="shopnew1" id="shopnew1"><strong>Shop the Wavy Collection</strong></button>
          </div>
        <!----------------------------->
  
        <!--SEGUNDA IMAGEN (1 y 1.1)-->
          <div class="two2" id="two2">Two</div>
          <div class="two-img2" id="two-img2">
            <p class="target" >SALE</p>
          </div>
          <div class="button22" id="button22"><strong>Tecnik IMPACT-G</strong> <br> $85
          </div>
        <!----------------------------->
  
        <!--TERCERA IMAGEN (2 y 2.1)-->
        <div class="three2" id="three2">Three</div>
        <div class="three-img2" id="three-img2">
        </div>
        <div class="button33" id="button33"><strong>Construct DC</strong> <br> $90
        </div>
        <!----------------------------->
  
        <!--CUARTA IMAGEN (3 y 3.1)-->
          <div class="four2" id="four2">Four</div>
          <div class="four-img2" id="four-img2">
            <p class="target">SALE</p>
          </div>
        <div class="button44" id="button44"><strong>DC Metric S</strong> <br>$105
        </div>
        <!----------------------------->
  
  
        <!--QUINTA IMAGEN (4 y 4.1)-->
          <div class="five2" id="five2">Five</div>
          <div class="five-img2" id="five-img2"></div>
        <div class="button55" id="button55"><strong>Lynx Zero</strong> <br> $80
        </div>
      </div>
      <footer>
        <div class="footer" id="footer">
          <div class="profile">
            <h2 class="ashu">¿Quién Soy?</h2>
            <img src="/src/images/me.jpg" alt="Foto de Samuel">
            <p id="p">Soy Samuel, un apasionado de la programación desde temprana edad, vivo en Caracas, Venezuela. Mi amor por el código y la tecnología ha sido una constante en mi vida, conduciéndome a través de una multitud de proyectos y desafíos que han perfeccionado mis habilidades y avivado mi creatividad. Cada línea de código que escribo es una oportunidad para innovar y resolver problemas complejos, transformando ideas abstractas en realidades funcionales.</p>
            
          </div>
          <div class="contact">
            <a href="https://github.com/SamuelCubano" target="_blank" class="fa-brands fa-github"></a>
            <a href="https://www.instagram.com/samuelcubano/" target="_blank" class="fa-brands fa-instagram"></a>
            <a href="https://www.linkedin.com/in/samuel-cubano-0b520b288/" target="_blank" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </footer>
      <style>
      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: "Roboto", sans-serif;
        background-color: whitesmoke;
      }
      
      .wrapper {
        max-width: 1500px;
        max-height: 1500px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
      
      }
      
      .wrapper > div {
        border-radius: 5px;
        padding: 1em;
        color: #202020;
      }
      
      /*-------------One Box--------------*/
      .one {
        grid-column: 1 / 3;
        grid-row: 1 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .one-img{
        background-image: url(/src/images/modelomujer\ 1.jpg);
        grid-column: 1 / 3;
        grid-row: 1 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        
      }
      
      .button-shopnew{
        border: 0px;
        grid-column: 1 / 3;
        grid-row: 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .shopnew {
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        width: 300px;
        font-size: 18px;
        border-radius: 50px;
        background-color: rgb(139, 129, 105);
        color: rgb(49, 46, 38);
        border: none;
        transition: 0.3s;
      }
      
      .shopnew:hover{
        background-color: rgb(49, 46, 38);
        color: white;
      }
      /*-------------End One Box--------------*/
      
      
      /*-------------Two Box--------------*/
      .two {
        grid-column: 3 ;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .two-img{
        background-image: url(/src/images/1.1.jpg);
        grid-column: 3;
        grid-row: 1 / 4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .two-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/1.jpg);
      }
      
      .button2{
      border: 0px;
      grid-column:3;
      grid-row: 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      /*-------------End Two Box--------------*/
      
      
      
      /*-------------Three Box--------------*/
      .three {
        grid-column: 4 ;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .three-img{
        background-image: url(/src/images/2.1.jpg);
        grid-column: 4;
        grid-row: 1 / 4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .three-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/2.jpg);
      }
      
      .button3{
      border: 0px;
      grid-column:4;
      grid-row: 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
font-family: "Oxanium", sans-serif;
      }
      
      /*-------------End Three Box--------------*/
      
      
      /*-------------Four Box--------------*/
      .four {
        grid-column: 3;
        grid-row: 5 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .four-img{
        background-image: url(/src/images/3.1.jpg);
        grid-column: 3;
        grid-row: 5 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .four-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/3.jpg);
      }
      
      .button4{
      border: 0px;
      grid-column:3;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
font-family: "Oxanium", sans-serif;
      }
      /*-------------End Four Box--------------*/
      
      
      
      /*-------------Five Box--------------*/
      .five {
        grid-column: 4;
        grid-row: 5 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .five-img{
        background-image: url(/src/images/4.1.jpg);
        grid-column: 4;
        grid-row: 5 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .five-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/4.jpg);
      }
      
      .button5{
      border: 0px;
      grid-column:4;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
font-family: "Oxanium", sans-serif;
      }
      
      /*-------------End Five Box--------------*/
      
      
      /*-------------Six Box--------------*/
      .six {
        grid-column: 1;
        grid-row: 9 / 13;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .six-img{
        background-image: url(/src/images/5.1.jpg);
        grid-column: 1;
        grid-row: 9 / 12;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .six-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/5.jpg);
      }
      
      .button6{
      border: 0px;
      grid-column:1;
      grid-row: 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      /*-------------End Six Box--------------*/
      
      
      /*-------------Seven Box--------------*/
      .seven {
        grid-column: 2;
        grid-row: 9 / 13;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
        .seven-img{
          background-image: url(/src/images/6.jpg);
          grid-column: 2;
          grid-row: 9 / 12;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
        }
      
        .seven-img:hover{
            transition: 0.5s;
            background-image: url(/src/images/6.1.jpg);
        }
      
      .button7{
        border: 0px;
        grid-column:2;
        grid-row: 12;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        font-family: "Oxanium", sans-serif;
      }
      /*-------------End Seven Box--------------*/
      
      
      /*-------------Eight Box--------------*/
      .eight {
        grid-column: 1;
        grid-row: 13 / 17;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .eight-img{
        background-image: url(/src/images/7.jpg);
        grid-column: 1;
        grid-row: 13 / 16;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .eight-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/7.1.jpg);
      }
      
      .button8{
      border: 0px;
      grid-column:1;
      grid-row: 16;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      /*-------------End Eight Box--------------*/
      
      
      /*-------------Nine Box--------------*/
      .nine {
        grid-column: 2;
        grid-row: 13 / 17;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .nine-img{
        background-image: url(/src/images/8.jpg);
        grid-column: 2;
        grid-row: 13 / 16;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .nine-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/8.1.jpg);
      }
      
      .button9{
      border: 0px;
      grid-column:2;
      grid-row: 16;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      /*-------------End Nine Box--------------*/
      
      
      /*-------------Ten Box--------------*/
      .ten {
        grid-column: 3 / 5;
        grid-row: 9 / 17;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .ten-img{
        background-image: url(/src/images/modelohombre 1.jpg);
        grid-column: 3 / 5;
        grid-row: 9 / 16;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .button10{
      border: 0px;
      grid-column:3 / 5;
      grid-row: 16;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Ten Box--------------*/
      
      
      
      
      
      
      
      /*----------------- Responsivo ----------------*/
      @media (max-width: 1200px) {
        .wrapper {
            grid-template-columns: repeat(4, 1fr);
            margin-left: 30px;
            margin-right: 30px;
            }
        }
      
      @media (max-width: 975px) {
        .wrapper {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 30px;
        margin-right: 30px;
        }
      
      /*--------------ONE BOX in 975px------------*/
        .one {
          grid-column: 1 / 3;
          grid-row: 1 / 7;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
          
      }
      
        .one-img{
          background-image: url(/src/images/modelomujer 1.jpg);
          grid-column: 1 / 3;
          grid-row: 1 / 6;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
          
        }
      
        .button-shopnew{
          border: 0px;
          grid-column: 1 / 3;
          grid-row: 6;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
        }
        
        .shopnew {
          margin: 0;
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 20px;
          width: 300px;
          font-size: 18px;
          border-radius: 50px;
        }
      /*--------------END ONE BOX in 975px------------*/
      
      
      /*--------------TWO BOX in 975px------------*/
      .two {
      grid-column: 3 ;
      grid-row: 1 / 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .two-img{
      background-image: url(/src/images/1.1.jpg);
      grid-column: 3;
      grid-row: 1 / 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .two-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/1.jpg);
      }
      
      .button2{
      border: 0px;
      grid-column:3;
      grid-row: 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END TWO BOX in 975px------------*/
      
      
      /*--------------THREE BOX in 975px------------*/
      .three {
      grid-column: 4 ;
      grid-row: 1 / 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .three-img{
      background-image: url(/src/images/2.1.jpg);
      grid-column: 4;
      grid-row: 1 / 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .three-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/2.jpg);
      }
      
      .button3{
      border: 0px;
      grid-column:4;
      grid-row: 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END THREE BOX in 975px------------*/
      
      
      /*--------------FOUR BOX in 975px------------*/
      .four {
      grid-column: 3;
      grid-row: 4 / 7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .four-img{
      background-image: url(/src/images/3.1.jpg);
      grid-column: 3;
      grid-row: 4 / 6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .four-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/3.jpg);
      }
      
      .button4{
      border: 0px;
      grid-column:3;
      grid-row: 6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END FOUR BOX in 975px------------*/
      
      
      /*-------------Five Box in 975px--------------*/
      .five {
      grid-column: 4;
      grid-row: 4 / 7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .five-img{
      background-image: url(/src/images/4.1.jpg);
      grid-column: 4;
      grid-row: 4 / 6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .five-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/4.jpg);
      }
      
      .button5{
      border: 0px;
      grid-column:4;
      grid-row: 6  ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Five Box in 975px--------------*/
      
      
      /*-------------Six Box in 975px--------------*/
      .six {
      grid-column: 1;
      grid-row: 7 / 10;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .six-img{
      background-image: url(/src/images/5.1.jpg);
      grid-column: 1;
      grid-row: 7 / 9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .six-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/5.jpg);
      }
      
      .button6{
      border: 0px;
      grid-column:1;
      grid-row: 9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Six Box in 975px--------------*/
      
      
      /*-------------Seven Box in 975px--------------*/
      .seven {
      grid-column: 2;
      grid-row: 7 / 10;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      .seven-img{
        background-image: url(/src/images/6.jpg);
        grid-column: 2;
        grid-row: 7 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .seven-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/6.1.jpg);
      }
      
      .button7{
      border: 0px;
      grid-column:2;
      grid-row: 9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Seven Box in 975px--------------*/
      
      
      /*-------------Eight Box in 975px--------------*/
      .eight {
      grid-column: 1;
      grid-row: 10 / 13;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .eight-img{
      background-image: url(/src/images/7.jpg);
      grid-column: 1;
      grid-row: 10 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .eight-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/7.1.jpg);
      }
      
      .button8{
      border: 0px;
      grid-column:1;
      grid-row: 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Eight Box in 975px--------------*/
      
      
      /*-------------Nine Box in 975px--------------*/
      .nine {
      grid-column: 2;
      grid-row: 10 / 13;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .nine-img{
      background-image: url(/src/images/8.jpg);
      grid-column: 2;
      grid-row: 10 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .nine-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/8.1.jpg);
      }
      
      .button9{
      border: 0px;
      grid-column:2;
      grid-row: 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Nine Box in 975px--------------*/
      
      
      /*-------------Ten Box in 975px--------------*/
      .ten {
      grid-column: 3 / 5;
      grid-row: 7 / 13;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .ten-img{
      background-image: url(/src/images/modelohombre 1.jpg);
      grid-column: 3 / 5;
      grid-row: 7 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .button10{
      border: 0px;
      grid-column:3 / 5;
      grid-row: 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Ten Box in 975px--------------*/
      
      .leyend{
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 200px;
        color: white;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      #one2 {
        grid-column: 1 / 3;
        grid-row: 1 / 7;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        
      }
      
      #one-img2{
        background-image: url(/src/images/modelomujer 1.jpg);
        grid-column: 1 / 3;
        grid-row: 1 / 6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        
      }
      
      #button-shopnew1{
        border: 0px;
        grid-column: 1 / 3;
        grid-row: 6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      #shopnew1 {
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        width: 300px;
        font-size: 18px;
        border-radius: 50px;
      }
      /*--------------END ONE BOX in 975px------------*/
      
      
      /*--------------TWO BOX in 975px------------*/
      #two2 {
      grid-column: 3 ;
      grid-row: 1 / 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #two-img2{
      background-image: url(/src/images/10.1.jpg);
      grid-column: 3;
      grid-row: 1 / 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #two-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/10.jpg);
      }
      
      #button22{
      border: 0px;
      grid-column:3;
      grid-row: 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END TWO BOX in 975px------------*/
      
      
      /*--------------THREE BOX in 975px------------*/
      #three2 {
      grid-column: 4 ;
      grid-row: 1 / 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #three-img2{
      background-image: url(/src/images/11.jpg);
      grid-column: 4;
      grid-row: 1 / 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #three-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/11.1.jpg);
      }
      
      #button33{
      border: 0px;
      grid-column:4;
      grid-row: 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END THREE BOX in 975px------------*/
      
      
      /*--------------FOUR BOX in 975px------------*/
      #four2 {
      grid-column: 3;
      grid-row: 4 / 7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #four-img2{
      background-image: url(/src/images/12.png);
      grid-column: 3;
      grid-row: 4 / 6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #four-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/12.1.png);
      }
      
      #button44{
      border: 0px;
      grid-column:3;
      grid-row: 6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END FOUR BOX in 975px------------*/
      
      
      /*-------------Five Box in 975px--------------*/
      #five2 {
      grid-column: 4;
      grid-row: 4 / 7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #five-img2{
      background-image: url(/src/images/13.jpg);
      grid-column: 4;
      grid-row: 4 / 6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #five-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/13.1.jpg);
      }
      
      #button55{
      border: 0px;
      grid-column:4;
      grid-row: 6  ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      }
      
      
      
      @media (max-width: 600px) {
      .wrapper {
          grid-template-columns: repeat(4, 1fr);
          margin-left: 0px;
          margin-right: 0px;
          }
      
          /*--------------ONE BOX in 600px------------*/
        .one {
          grid-column: 1 / 5;
          grid-row: 1 / 6;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
          
      }
      
        .one-img{
          background-image: url(/src/images/modelomujer 1.jpg);
          grid-column: 1 / 5;
          grid-row: 1 / 5;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
          
        }
      
        .button-shopnew{
          border: 0px;
          grid-column: 1 / 5;
          grid-row: 5;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
        }
        
        .shopnew {
          margin: 0;
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 20px;
          width: 300px;
          font-size: 18px;
          border-radius: 50px;
        }
      /*--------------END ONE BOX in 600px------------*/
      
      
      /*--------------TWO BOX in 600px------------*/
      .two {
      grid-column: 1/3 ;
      grid-row:  6/9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .two-img{
      background-image: url(/src/images/1.1.jpg);
      grid-column: 1/3;
      grid-row: 6 / 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .two-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/1.jpg);
      }
      
      .button2{
      border: 0px;
      grid-column:1/3;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END TWO BOX in 600px------------*/
      
      
      /*--------------THREE BOX in 600px------------*/
      .three {
      grid-column: 3/5 ;
      grid-row: 6 / 9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .three-img{
      background-image: url(/src/images/2.1.jpg);
      grid-column: 3/5;
      grid-row: 6/8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .three-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/2.jpg);
      }
      
      .button3{
      border: 0px;
      grid-column:3/5;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END THREE BOX in 600px------------*/
      
      
      /*--------------FOUR BOX in 600px------------*/
      .four {
      grid-column: 1/3;
      grid-row: 9 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .four-img{
      background-image: url(/src/images/3.1.jpg);
      grid-column: 1/3;
      grid-row: 9 / 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .four-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/3.jpg);
      }
      
      .button4{
      border: 0px;
      grid-column:1/3;
      grid-row: 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END FOUR BOX in 600px------------*/
      
      
      /*-------------Five Box in 600px--------------*/
      .five {
      grid-column: 3/5;
      grid-row: 9 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .five-img{
      background-image: url(/src/images/4.1.jpg);
      grid-column: 3/5;
      grid-row: 9 / 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .five-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/4.jpg);
      }
      
      .button5{
      border: 0px;
      grid-column:3/5;
      grid-row: 11  ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Five Box in 600px--------------*/
      
      
      /*-------------Six Box in 600px--------------*/
      .six {
      grid-column: 1/3;
      grid-row: 17 / 20;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .six-img{
      background-image: url(/src/images/5.1.jpg);
      grid-column: 1/3;
      grid-row: 17 / 19;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .six-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/5.jpg);
      }
      
      .button6{
      border: 0px;
      grid-column:1/3;
      grid-row: 19;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Six Box in 600px--------------*/
      
      
      /*-------------Seven Box in 600px--------------*/
      .seven {
      grid-column: 3/5;
      grid-row: 17 / 20;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      .seven-img{
        background-image: url(/src/images/6.jpg);
        grid-column: 3/5;
        grid-row: 17 / 19;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .seven-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/6.1.jpg);
      }
      
      .button7{
      border: 0px;
      grid-column:3/5;
      grid-row: 19;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Seven Box in 600px--------------*/
      
      
      /*-------------Eight Box in 600px--------------*/
      .eight {
      grid-column: 1/3;
      grid-row: 20 / 23;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .eight-img{
      background-image: url(/src/images/7.jpg);
      grid-column: 1/3;
      grid-row: 20 / 22;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .eight-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/7.1.jpg);
      }
      
      .button8{
      border: 0px;
      grid-column:1/3;
      grid-row: 22;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Eight Box in 600px--------------*/
      
      
      /*-------------Nine Box in 600px--------------*/
      .nine {
      grid-column: 3/5;
      grid-row: 20 / 23;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .nine-img{
      background-image: url(/src/images/8.jpg);
      grid-column: 3/5;
      grid-row: 20 / 22;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .nine-img:hover{
        transition: 0.5s;
        background-image: url(/src/images/8.1.jpg);
      }
      
      .button9{
      border: 0px;
      grid-column:3/5;
      grid-row: 22 ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Nine Box in 600px--------------*/
      
      
      /*-------------Ten Box in 600px--------------*/
      .ten {
      grid-column: 1 / 5;
      grid-row: 12 / 17;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .ten-img{
      background-image: url(/src/images/modelohombre 1.jpg);
      grid-column: 1 / 5;
      grid-row: 12 / 16;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      .button10{
      border: 0px;
      grid-column:1 / 5;
      grid-row: 16;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Ten Box in px--------------*/
      
      .leyend{
        margin-top: 1150px;
        margin-bottom: 50px;
        padding: 150px;
        padding-left: 100px;
        padding-right: 100px;
        color: white;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      #one2 {
        grid-column: 1 / 5;
        grid-row: 1 / 7;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        
      }
      
      #one-img2{
        background-image: url(/src/images/modelohombre 2.jpg);
        grid-column: 1 / 5;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        
      }
      
      #button-shopnew1{
        border: 0px;
        grid-column: 1 / 3;
        grid-row: 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      #shopnew1 {
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        width: 300px;
        font-size: 18px;
        border-radius: 50px;
      }
      /*--------------END ONE BOX in 975px------------*/
      
      
      /*--------------TWO BOX in 975px------------*/
      #two2 {
      grid-column: 1/3;
      grid-row: 6 /9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #two-img2{
      background-image: none;
      background-image: url(/src/images/10.1.jpg);
      grid-column: 1/3;
      grid-row: 6/8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #two-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/10.jpg);
      }
      
      #button22{
      border: 0px;
      grid-column:1/3;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END TWO BOX in 975px------------*/
      
      
      /*--------------THREE BOX in 975px------------*/
      #three2 {
      grid-column: 3/5 ;
      grid-row: 6 / 9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #three-img2{
      background-image: url(/src/images/11.jpg);
      grid-column: 3/ 5;
      grid-row: 6 / 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #three-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/11.1.jpg);
      }
      
      #button33{
      border: 0px;
      grid-column:3/5;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END THREE BOX in 975px------------*/
      
      
      /*--------------FOUR BOX in 975px------------*/
      #four2 {
      grid-column: 1/3;
      grid-row: 9 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #four-img2{
      background-image: url(/src/images/12.png);
      grid-column: 1/3;
      grid-row: 9 / 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #four-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/12.1.png);
      }
      
      #button44{
      border: 0px;
      grid-column:1/3;
      grid-row: 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END FOUR BOX in 975px------------*/
      
      
      /*-------------Five Box in 975px--------------*/
      #five2 {
      grid-column: 3/5;
      grid-row: 9 / 12;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #five-img2{
      background-image: url(/src/images/13.jpg);
      grid-column: 3/5;
      grid-row: 9 / 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      
      #five-img2:hover{
      transition: 0.5s;
      background-image: url(/src/images/13.1.jpg);
      }
      
      #button55{
      border: 0px;
      grid-column:3/5;
      grid-row: 11  ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      }
      
      @media (max-width: 480px) {
        .wrapper {
            grid-template-columns: repeat(4, 1fr);
            margin-left: 0;
            margin-right: 0;
        }
      
      #footer{
        margin-top: 0;
      }
          /*--------------ONE BOX in 600px------------*/
          .one {
            grid-column: 1 / 5;
            grid-row: 1 / 6;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s;
            
        }
        
          .one-img{
            background-image: url(/src/images/modelomujer 1.jpg);
            grid-column: 1 / 5;
            grid-row: 1 / 5;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s;
            
          }
        
          .button-shopnew{
            border: 0px;
            grid-column: 1 / 5;
            grid-row: 5;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s;
          }
          
          .shopnew {
            margin: 0;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            width: 300px;
            font-size: 18px;
            border-radius: 50px;
          }
      /*--------------END ONE BOX in 600px------------*/
      
      
      /*--------------TWO BOX in 600px------------*/
      .two {
        grid-column: 1/3 ;
        grid-row:  6/9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .two-img{
        background-image: url(/src/images/1.1.jpg);
        grid-column: 1/3;
        grid-row: 6 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .two-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/1.jpg);
      }
      
      .button2{
      border: 0px;
      grid-column:1/3;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END TWO BOX in 600px------------*/
      
      
      /*--------------THREE BOX in 600px------------*/
      .three {
        grid-column: 3/5 ;
        grid-row: 6 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .three-img{
        background-image: url(/src/images/2.1.jpg);
        grid-column: 3/5;
        grid-row: 6/8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .three-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/2.jpg);
      }
      
      .button3{
      border: 0px;
      grid-column:3/5;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END THREE BOX in 600px------------*/
      
      
      /*--------------FOUR BOX in 600px------------*/
      .four {
        grid-column: 1/3;
        grid-row: 9 / 12;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .four-img{
        background-image: url(/src/images/3.1.jpg);
        grid-column: 1/3;
        grid-row: 9 / 11;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .four-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/3.jpg);
      }
      
      .button4{
      border: 0px;
      grid-column:1/3;
      grid-row: 11;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*--------------END FOUR BOX in 600px------------*/
      
      
      /*-------------Five Box in 600px--------------*/
      .five {
        grid-column: 3/5;
        grid-row: 9 / 12;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .five-img{
        background-image: url(/src/images/4.1.jpg);
        grid-column: 3/5;
        grid-row: 9 / 11;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .five-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/4.jpg);
      }
      
      .button5{
      border: 0px;
      grid-column:3/5;
      grid-row: 11  ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Five Box in 600px--------------*/
      
      
      /*-------------Six Box in 600px--------------*/
      .six {
        grid-column: 1/3;
        grid-row: 17 / 20;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .six-img{
        background-image: url(/src/images/5.1.jpg);
        grid-column: 1/3;
        grid-row: 17 / 19;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .six-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/5.jpg);
      }
      
      .button6{
      border: 0px;
      grid-column:1/3;
      grid-row: 19;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Six Box in 600px--------------*/
      
      
      /*-------------Seven Box in 600px--------------*/
      .seven {
        grid-column: 3/5;
        grid-row: 17 / 20;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
        .seven-img{
          background-image: url(/src/images/6.jpg);
          grid-column: 3/5;
          grid-row: 17 / 19;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: 0.3s;
        }
      
        .seven-img:hover{
            transition: 0.5s;
            background-image: url(/src/images/6.1.jpg);
        }
      
      .button7{
        border: 0px;
        grid-column:3/5;
        grid-row: 19;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      /*-------------End Seven Box in 600px--------------*/
      
      
      /*-------------Eight Box in 600px--------------*/
      .eight {
        grid-column: 1/3;
        grid-row: 20 / 23;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .eight-img{
        background-image: url(/src/images/7.jpg);
        grid-column: 1/3;
        grid-row: 20 / 22;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .eight-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/7.1.jpg);
      }
      
      .button8{
      border: 0px;
      grid-column:1/3;
      grid-row: 22;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Eight Box in 600px--------------*/
      
      
      /*-------------Nine Box in 600px--------------*/
      .nine {
        grid-column: 3/5;
        grid-row: 20 / 23;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .nine-img{
        background-image: url(/src/images/8.jpg);
        grid-column: 3/5;
        grid-row: 20 / 22;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .nine-img:hover{
          transition: 0.5s;
          background-image: url(/src/images/8.1.jpg);
      }
      
      .button9{
      border: 0px;
      grid-column:3/5;
      grid-row: 22 ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Nine Box in 600px--------------*/
      
      
      /*-------------Ten Box in 600px--------------*/
      .ten {
        grid-column: 1 / 5;
        grid-row: 12 / 17;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .ten-img{
        background-image: url(/src/images/modelohombre 1.jpg);
        grid-column: 1 / 5;
        grid-row: 12 / 16;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .button10{
      border: 0px;
      grid-column:1 / 5;
      grid-row: 16;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      }
      /*-------------End Ten Box in px--------------*/
      
      }
      
      .target { 
        background-color: white;
        border-radius: 50px;
        display: inline;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      
      body {
        margin: 0;
      }
      
      header{
        background-image: url(/src/images/header2.png);
        color: white;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 50px;
        margin-bottom: 50px;
      }
      .sd{
        text-align: center;
        margin: 0;
        background-color: rgb(139, 129, 105);
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
      }
      h1{
        margin: 0;
      }
        
      
      body {
        margin: 0;
      }
      #elements {
        text-align: center;
      }
      #elements > img{
        order: 1;
        width: 100px;
      }
      
      #elements > div > a{
        flex: 1;
        order: 3;
        color: white;
        font-size: 20px;  
        text-decoration: none;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.3s;
      }
      
      #elements > div > a:hover {
        color: #202020;
        background-color: white;
        border-radius: 25px;
        padding: 5px;
      
      }
      
      h2{
        background-image: url(/src/images/image.png);
        margin-top: 450px;
        margin-bottom: 50px;
        padding: 300px;
        color: white;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .footer{
        margin-top: 40px;
        background-color: rgb(139, 129, 105);
        padding: 20px;
        }
      
        .profile { 
        display: flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
          background-color: rgb(139, 129, 105);
        padding: 20px; 
        max-width: 600px; 
        width: 100%;
        margin: 0 auto;
        
        } 
        
        .profile img {
        border-radius: 100%;
        margin-top: 20px;
        width: 150px; 
        margin-bottom: 20px;
        transform: none;
        border: solid 5px white;
        background-image: url(/src/images/me.jpg)
        } 
      
        .profile p { 
        margin: 0; 
        font-size: 16px;
        color: rgb(49, 46, 38);
        font-size: 19px;
        }
        
        .contact { 
          align-items: center;
          text-align: center;
          margin-top: 10px;
        } .contact a { 
          margin: 0 10px; 
          font-size: 30px; 
          color: white; 
          text-decoration: none;
          transition: 0.3s;
        } .contact a:hover { 
          color: rgb(49, 46, 38);
          transition: 0.3s,
        }
      
      .ashu{
        background-image: none;
        margin: 0;
        padding: 0;
      }
      
      
      .one2 {
        grid-column: 1 / 3;
        grid-row: 1 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .one-img2{
        background-image: url(/src/images/modelohombre 2.jpg);
        grid-column: 1 / 3;
        grid-row: 1 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        
      }
      
      .button-shopnew1{
        border: 0px;
        grid-column: 1 / 3;
        grid-row: 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .shopnew1 {
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        width: 300px;
        font-size: 18px;
        border-radius: 50px;
        background-color: rgb(139, 129, 105);
        color: rgb(49, 46, 38);
        border: none;
        transition: 0.3s;
      }
      
      .shopnew1:hover{
        background-color: rgb(49, 46, 38);
        color: white;
      }
      /*-------------End One Box--------------*/
      
      
      /*-------------Two Box--------------*/
      .two2 {
        grid-column: 3 ;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .two-img2{
        background-image: url(/src/images/10.1.jpg);
        grid-column: 3;
        grid-row: 1 / 4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .two-img2:hover{
          transition: 0.5s;
          background-image: url(/src/images/10.jpg);
      }
      
      .button22{
      border: 0px;
      grid-column:3;
      grid-row: 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      /*-------------End Two Box--------------*/
      
      
      
      /*-------------Three Box--------------*/
      .three2 {
        grid-column: 4 ;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .three-img2{
        background-image: url(/src/images/11.jpg);
        grid-column: 4;
        grid-row: 1 / 4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .three-img2:hover{
          transition: 0.5s;
          background-image: url(/src/images/11.1.jpg);
      }
      
      .button33{
      border: 0px;
      grid-column:4;
      grid-row: 4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      
      /*-------------End Three Box--------------*/
      
      
      /*-------------Four Box--------------*/
      .four2 {
        grid-column: 3;
        grid-row: 5 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .four-img2{
        background-image: url(/src/images/12.png);
        grid-column: 3;
        grid-row: 5 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .four-img2:hover{
          transition: 0.5s;
          background-image: url(/src/images/12.1.png);
      }
      
      .button44{
      border: 0px;
      grid-column:3;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      
      /*-------------End Four Box--------------*/
      
      
      
      /*-------------Five Box--------------*/
      .five2 {
        grid-column: 4;
        grid-row: 5 / 9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .five-img2{
        background-image: url(/src/images/13.jpg);
        grid-column: 4;
        grid-row: 5 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
      
      .five-img2:hover{
          transition: 0.5s;
          background-image: url(/src/images/13.1.jpg);
      }
      
      .button55{
      border: 0px;
      grid-column:4;
      grid-row: 8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.3s;
      font-family: "Oxanium", sans-serif;
      }
      </style>
  </body>
</html>
